.signinContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signBox {
    height: 500px;
    width: 400px;
    border: 2px solid #DDE6ED;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 8px #DDE6ED;
}

:root {
    --color-1: #DDE6ED;
    --color-2: #6bc7e0;
    --color-3: #3c82c4;
    --color-4: #88E6ED;
    --color-5: #FFE6ED;
    --angle: 0deg;
  }

.signinTitle{
    color: #fff;
    text-align: center;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 6vw;
    text-transform: uppercase;
    /* word-spacing: 100vw; */
    background: linear-gradient(
      var(--angle),
      var(--color-1) 19%,
      transparent 19%,
      transparent 20%,
      var(--color-2) 20%,
      var(--color-2) 39%,
      transparent 39%,
      transparent 40%,
      var(--color-3) 40%,
      var(--color-3) 59%,
      transparent 59%,
      transparent 60%,
      var(--color-4) 60%,
      var(--color-4) 79%,
      transparent 79%,
      transparent 80%,
      var(--color-5) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    animation: 4s rotate linear infinite;
  }
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }