
.ProfileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url(/cambg_5.jpg);
}

.ProfileBox{
    
    height: 100vh;
    width: 850px;
    border: 2px solid #DDE6ED;
background-color: black ;
opacity: 0.8; 
   
    text-align: center;
    box-shadow: 1px 1px 8px #DDE6ED;
}