.homeHead{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.homeHead h1{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid black;
   cursor: default;
    border-radius: 10px;
}