*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .header{
    height: 50px;
  }
    /* background-color:  #041C28;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }  */

  :root {
    --color-1: #DDE6ED;
    --color-2: #6bc7e0;
    --color-3: #3c82c4;
    --color-4: #88E6ED;
    --color-5: #FFE6ED;
    --angle: 0deg;
  }

h1{
    color: #fff;
    text-align: center;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 6vw;
    /* text-transform: uppercase; */
    word-spacing: 100vw;
    letter-spacing: 1vw;
    background: linear-gradient(
      var(--angle),
      var(--color-1) 19%,
      transparent 19%,
      transparent 20%,
      var(--color-2) 20%,
      var(--color-2) 39%,
      transparent 39%,
      transparent 40%,
      var(--color-3) 40%,
      var(--color-3) 59%,
      transparent 59%,
      transparent 60%,
      var(--color-4) 60%,
      var(--color-4) 79%,
      transparent 79%,
      transparent 80%,
      var(--color-5) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    animation: 4s rotate linear infinite;
  }
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
.checkoutPage{
    margin: auto;
    margin-top: 10px;
    height: 900px;
    width: 60%;
    border: 2px solid #DDE6ED;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 8px #DDE6ED;
  }

  .checkedoutGames{
    margin-top: 20px;
    /* background-color: #DDE6ED; */
    /* margin-left: 10px; */
    border-top: 2px solid #DDE6ED;;
    border-radius: 10px;
    
  }

  .gameslist{
  
  }

  .userDetailes{
    border-top: 2px solid #DDE6ED;;
    margin-top: 20px;
    border-radius: 10px;
  }

  h2{
    letter-spacing: 2px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: white;
    text-align: left;
    margin-left: 10px;
    border-top: 2px solid #DDE6ED;;
    border-radius: 10px;
    font-family: "Gill Sans";
  
}

h3{
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 10px;
  color: white;
  text-align: left;
  margin-left: 10px;
  font-family: "Gill Sans";
  /* background-color: #84abd0; */
  /* width: 200px;
  opacity: 0.8;
  outline: auto; */
}


input{
  padding: 10px 10px 10px 10px;
  border: 1px solid #dddddd;
  width: 320px;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 10px;;
}

.paymentInfo{
  /* width:50%; */
  /* background-color: #dddddd; */
   /* height: 300px; */
  border-top: 2px solid #DDE6ED;
  margin-top: 20px;
  border-radius: 10px;
  text-align: left;
  display:flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;


}

label{
  color:#DDE6ED;
  margin-right: 10px;
}

.cardNumber{
  width: 20%;
  margin-left: 10px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  
}

.cardNumberInput {
  margin-top: -30px;
  position: relative;
  z-index: -1;
}

.expiryDateInput{
  margin-top: -50px;
  position: relative;
  z-index: -1;
  margin-left: -25px;
}
.expireyDateAndCVV{
 width:1000px;
 display: flex;
 margin-top: 30px;
}
.expiryDate{
  margin-left: 10px;
  /* display: flex; */
}

.cvvInput{
  margin-top: -50px;
  position: relative;
  z-index: -1;
  margin-left: -25px;
}

.expiryDate > input{
  width: 130px;
  padding: 10px;

}

.cvv{
  margin-left: 20px;
}

.cvvInput{
  width: 50px;
  padding: 10px;
  width: 35%;
  margin-top: -40px;

}

.nameOnCard{
  width: 20%;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.nameOnCardInput{
  margin-top: -28px;
  position: relative;
  z-index: -1;
}

.pay-btn {
  margin-top: 20px;
  background: black;
  padding: 12px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.pay{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 2px solid #DDE6ED;
  border-radius: 10px;
}


