* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navContainer {
  height: 120px;
  /* border-bottom: 2px solid #dde6ed; */
  color: #dde6ed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.links{
    margin: 0px 25px;
}
.navAvatar {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navButtons {
  align-self: left;
}

.img {
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
}

.stealogo {
  width: 100px;
  border-radius: 50px;
  margin-top: 20px;
}

span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logoHeader {
  font-size: 3rem;
}
