.fadizButton{
    border: 2px solid lime;
    color:white;
    background: radial-gradient(red,black,blue);
    border-radius: 20px;
    width: 300px;
    height: 100px;
    display: box;
    cursor: pointer;
}

.fadizButton:hover{
    background:radial-gradient(grey,green,purple);
    color: black;
    border: 4px solid seagreen;
}