#myButton{
    width: 200px;
    height: 50px;
    background-image:repeating-linear-gradient(45deg, rgb(0, 0, 255),rgb(0, 0, 0),red) ;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0, 0, 0),0 0 20px rgb(255, 0, 0)
    
}
#myButton:hover{
   box-shadow: 0 0 5px rgb(255, 0, 0) , 0 0 25px rgb(59, 43, 43) , 0 0 50px rgb(255, 0, 0),0 0 100px rgb(255, 0, 0) , 0 0 200px rgb(255, 0, 0);
}