.zoharBtn {
  background-image: linear-gradient(#e66465, #9198e5);
  border: 1px solid white;
  border-radius: 11px; 
  color: white;
  width: 150px;
  height: 30px;
  font-size: large;
  font-weight: bold;
}