.zoharBtn {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  text-transform: uppercase;
  font-family: tahoma;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 200px;
  border-radius: 25px;
  transition: 0.5s;
  background-size: 200%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.zoharBtn:hover{
  background-position: right center;
}