.mainButton{
    background-color: transparent;
    border: none;
    font-size: 18px;
    display: block;
    margin: 10px auto;
    width: 100px;
    color: #DDE6ED;
    cursor: pointer;
    font-weight: 600;
}

.mainButton:hover{
    background-color: #DDE6ED;
    color: #041C32;
    border-radius: 10px;
    border: none;
}
.mainButton:active{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
}