body {
    font-family: Arial, sans-serif;
    background-color: #171a21;
    color: #c6d4df;
}

.block-page {
    display: block;
    height: 100%;
    width: 70%;
    border: 2px solid black;
    box-shadow: 1px 1px 8px #000000;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    background-color: #2a475e;
    overflow: auto;
}





.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #c6d4df;
    padding-bottom: 20px;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    border: 3px solid #c6d4df;
}

.user-info h2,
.user-info p {
    margin: 0;
}

.user-info button {
    background-color: #66c0f4;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-info button:hover {
    background-color: #88d4f9;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.list-games {
    width: 65%;
    background-color: #1b2838;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list-games li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c6d4df;
    border-radius: 20px;
    padding: 10px ;
    margin: 10px;
   
    
}

.Play-button{
    
        display: inline-block;
        padding: 12px 24px;
        margin: 5px;
        font-size: 16px;
        line-height: 1;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        background-color: #1b2838;
        border: 2px solid #66c0f4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        transition: all 0.5s ease;
    }
    
    .Play-button:hover {
        color: #1b2838;
        background-color: #66c0f4;
        border-color: #1b2838;
    }
    
    .Play-button:active {
        background-color: #1b2838;
        border-color: #66c0f4;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    }


.list-games li:hover{
    cursor: pointer;
   background-color: #1b2838;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
   transform: scale(1.1);
   transition: ease-in-out 1s;
   
}

.list-games img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.paremetrs-user {
    margin-left: 30px;
    width: 30%;
    background-color: #1b2838;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.paremetrs-user ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.paremetrs-user a {
    
    font-size: large;
    color: #c6d4df;
    text-decoration: none;
    transition: color 0.3s ease;
 
}

.paremetrs-user a:hover {
    color: #88d4f9;
}



