.checkoutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDE6ED;
    padding: 50px;
}

.checkoutBox {
    background-color: #031220;
    width: 1200px;
    height: fit-content;
    border-radius: 14px;
    text-align: center;
    display: grid;
    grid-template-areas: "header header"
    "items details"
    "items details";
}

h1 {
    color: #DDE6ED;
}

.details {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: details;
}


.products{
    background-color: white;
    width: 750px;
    grid-area: items;
}

.title {
    grid-area: header;
}