.checkoutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDE6ED;
    padding: 50px;
}

.checkoutBox {
    background-color: #031220;
    width: 1200px;
    height: fit-content;
    border-radius: 14px;
    text-align: center;
    display: grid;
    grid-template-areas: "header header"
    "items details"
    "items details";
}

h1 {
    color: #DDE6ED;
}

.details {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: details;
}


.products{
    background-color: white;
    width: 750px;
    grid-area: items;
}

.title {
    grid-area: header;
}

.CC {
    background-image: linear-gradient(to bottom right, #00d2ff, #3a7bd5);
    width: 400px;
    height: 225px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.bankTitle {
    margin: 5px 15px;
    font-size: 30px;
    float: right;
    font-weight: bold;
}

.cardImgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
}

.cardChip img {
    width: 100px;
}

.cardWifi {
    transform: rotate(90deg);
    padding: 30px;
}

.cardNum {
    text-align: center;
}

.cardNum span {
    font-size:25px;
    word-spacing: 25px;
}

.moreInfo {
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}