.item {
    margin: 20px 15px;
    background-color: rgba(4, 28, 50, 0.5);
    /* border: 1px solid #DDE6ED; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.gameDetailsA {
    display: flex;
    align-items: center;
    gap: 15px;
}

.gamePic{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.gameDetailsB {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameDetailsB p{
    margin: 5px auto;
    font-size: 22px;
}