*{
    color: #fff;
margin: 0;
padding: 0;
}
.main{
display: flex;
justify-content: center;
align-items: center;
}
.arrow{
    position: absolute;
    margin-bottom: 320px;
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.cards{
    margin-top: 80px;
}